<!DOCTYPE html>
<html>
  <head>
    <script src="/scripts/moderate.js" defer></script>
    <!-- <base href="https://google.com" src="https://google.com"/> -->

    <title>Moderate Search</title>
    <style>
      body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
        height: 500px;
        width: 500px;
      }
    </style>
  </head>
  <body>
    
    <div>
	    <h3>Moderate</h3>
			<gcse:search gname="mod-search"></gcse:search>
    </div>
  </body>
</html>
