<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->

<!DOCTYPE html>
<html>
  <head>
    <script src="/scripts/jquery-3.1.1.min.js" defer></script>
    <script src="/scripts/keys.js" defer></script>
    <script src="/scripts/search.js" defer></script>
    <script src="/scripts/script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">

    <title>News Mirror</title>

  </head>
  <body>
    <div id="status"></div>
    <img id="image-result" hidden>

    <div>
      <h1>Welcome to News Mirror!</h1>
    </div>
    <div>
      <button id='search'>Find Similar News</button>
    </div>
    <div id="all-results" class="hidden">
      <div class="results-container">
        <h3 id="moderate-title" class="section-title">Moderate</h3>
        <div id="moderate-results"></div>
      </div>

      <div class="results-container">
        <h3 id="liberal-title" class="section-title">Liberal</h3>
        <div id="liberal-results"></div>
      </div>

      <div class="results-container">
        <h3 id="conservative-title" class="section-title">Conservative</h3>
        <div id="conservative-results"></div>
      </div>
    </div>

  </body>
</html>
